<div id="contact" class='mydiv'>
    <div class='up' href='header'>^</div>

    {#    <a href="/static/pages/img/M.Stevenson_print_resume_2017.pdf">Resume</a>#}
    <div id="contactAll">
        <div id="contactBox">

            <div class="contactButtons overlay" id="gitHub" onclick="showGit()">
                <div>Github</div>
            </div>
            <div class="contactButtons" id="resume" onclick="showResume()">Resume</div>
            <div class="contactButtons" id="emailDiv" >Contact</div>
            {#        <div id="github">#}
            {#            <a href="https://github.com/stevensonmat2" target="_blank">github</a>#}
            {#            <a href="mailto:stevensonmat2@gmail.com">email me</a>#}
            {#            <a href="https://github.com/stevensonmat2">github</a>#}
            {#        </div>#}
        </div>
        <div id="contactDescriptions">
            <div class="descriptions" id="githubDescription">check out my code on github</div>
            <div class="descriptions" id="resumeDescription">check out my resume</div>
            <div class="descriptions" id="githubDescription">send me a message or <a href="mailto:stevensonmat2@gmail.com" id="email">email me</a></div>
        </div>
    </div>
    <div class="navButtons"><a class='button' id="leftButton" href="#projects">projects</a><a class='button' id="rightButton" href="#intro">welcome</a>
    </div>
</div>
