<div id="intro" class='mydiv'>
    <div class='up' href='header'>^</div>
    <div id="stripe"></div>
    <div id="introParagraph">

        <div id="profPic">
            {#        <img src="/static/pages/img/mat.png">#}
        </div>
        Hello.<br><br> My name is matt stevenson.<br><br> I'm a designer, programmer, and artist.<br><br>
        Simplicty and expression are the core elements that inform my work.<br>
    </div>

    <div class="navButtons"><a class='button' id="leftButton" href="#contact">contact</a>
        <a class='button' id="rightButton" href="#projects">projects</a></div>


</div>