
.slider {
    -webkit-appearance: none;
    width: 400px;
    height: 30px;
    /*background: #d3d3d3;*/
    outline: none;
    background-color: transparent;
    /*border: 4px ridge #e4e0e0;*/
    /*opacity: 0.7;*/
    /*-webkit-transition: .2s;*/
    /*transition: opacity .2s;*/
    position: absolute;
    left: 0;
    z-index: 2;
    margin: 0;
}

/*#spacer {*/
    /*!*width: 40px;*!*/
    /*!*background-color: transparent;*!*/
/*}*/
#space {
    width: 30px;
    background-color: #2bbbff;
}
#spacer{
    display: flex;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    background-color: #e4e0e0;
    padding: 4px;
    width: 129px;
    text-align: center;

    /*border: 12px;*/
    /*border-color: #e4e0e0;*/
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 1px;
    /*border-top: 6px ridge;*/
    /*border-right: 6px groove;*/
    /*border-left: 6px groove;*/
    /*z-index: 1;*/
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 30px;
    border: 6px #e4e0e0;
    border-top: 6px ridge;
    border-right: 6px groove;
    border-left: 6px groove;
    border-bottom: 6px ridge;
    /*border-style: groove;*/
    /*border-radius: 2px;*/
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

.colorBoxes {
    display: flex;
    width: 40px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
#popupBox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: auto;
    background-color: rgba(255,255,255, 0.8);
    color: #0f0f10;
    border-radius: 10px;
    font-size: small;
    padding: 10px;
    border: 1px solid #2bbbff;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    /*display: flex;*/
}

.tpAll {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

/*#scale {*/
    /*width: 400px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*!*justify-content: space-between;*!*/
/*}*/
#backToProj {
    position: fixed;
    height: auto;
    bottom: 20px;
}
.footer {
    position: fixed;
    right: 20px;
    height: auto;
    /*padding: 3px;*/
    bottom: 20px;
    background-color: transparent;
}

#colorBox {
    position: relative;
     border: 6px ridge #e4e0e0;
    border-left: 6px groove #e4e0e0;
    border-right: 6px groove #e4e0e0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 30px;
    background-color: #00b5ad;
    b
}

#box1 {
    width: 40px;
    height: 30px;
    background-color: rgba(34, 163, 15, 11);

}
#box2 {
    width: 40px;
    height: 30px;
    background-color: rgba(122, 242, 2, 1);
}
#box3 {
    width: 40px;
    height: 30px;
    background-color: rgba(242, 242, 2, 1);
}
#box4 {
    width: 40px;
    height: 30px;
    background-color: rgba(217, 192, 26, 1);
}
#box5 {
    width: 40px;
    height: 30px;
    background-color: rgba(217, 96, 26, 1);
}
#box6 {
    width: 40px;
    height: 30px;
    background-color: rgba(202, 40, 32, 1);
}
#box7 {
    width: 40px;
    height: 30px;
    background-color: rgba(19, 206, 209, 1);
}
#box8 {
    width: 40px;
    height: 30px;
    background-color: rgba(19, 111, 209 , 1);
}
#box9 {
    width: 40px;
    height: 30px;
    background-color: rgba(22, 19, 209, 1);
}
#box10 {
    width: 40px;
    height: 30px;
    background-color: rgba(209, 19, 206, 1);
}

